

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 20px auto;
  padding: 2rem;
  background-color: #f2f2f2;
  border-radius: 8px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.input {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 300px;
  
}

.checkbox {
  margin-top: 0.5rem;
}

.button {
  padding: 0.75rem;
  font-size: 1rem;
  color: white;
  background-color: #ff6c3fe1;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 1rem;
}

.button:hover {
  background-color: #FF6D3F;
}

.toggleButton {
  background: none;
  border: none;
  color: #FF6D3F;
  cursor: pointer;
  text-decoration: none;
}